<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p><img class ="pic" src = "images/met-gala.webp" /></p>
  <p><img class ="pic" src = "images/blonde.jpeg" /></p>
  <p><img class ="pic" src = "images/chorange.jpg" /></p>
  <p><img class ="pic" src = "images/endless.jpg" /></p>
  
 
   <%- include('../partials/footer') %>
