<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p><img class ="pic" src = "images/met-gala.webp" /></p>
  <p><img class ="pic" src = "images/blonde.jpeg" /></p>
  <li> Ivy </li>
  <li> Pink + White </li>
  <li> Nikes </li>
  <p><img class ="pic" src = "images/chorange.jpg" /></p>
  <li> Thinkin bout you </li>
  <li> Sweet Life </li>
  <li> Pyramids </li>
  <p><img class ="pic" src = "images/endless.jpg" /></p>
  <li> Slide on me </li>
  <li> Rushes to </li>
  <li> Rushes </li>
 
   <%- include('../partials/footer') %>
